%tr
  %td= task.content
  %td= task.state
  %td= link_to 'Show', task
  %td= link_to 'Edit', edit_task_path(task)
  %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

  - if task.state == 'doing'
    %td= link_to 'Mark as To  Do', change_task_path(task, state: 'to_do'), method: :put
    %td= link_to 'Mark as Done', change_task_path(task, state: 'done'), method: :put
  - else
    %td= link_to 'Mark as Doing', change_task_path(task, state: 'doing'), method: :put
