.panel.panel-info
  .panel-heading
    = link_to edit_task_path(task) do
      Created
      = time_ago_in_words(task.created_at)
      ago
    = link_to "x", task, method: :delete, data: {confirm: 'Are you sure?'}, class: 'pull-right'
  .panel-body
    = raw(task.content_html)
  .panel-footer.text-center
    .btn-group.btn-group-justified
      - if task.state == 'doing'
        = link_to change_task_path(task, state: 'to_do'), method: :put, class: 'btn btn-info btn-md btn-block' do
          %i.fa.fa-arrow-left
        = link_to change_task_path(task, state: 'done'), method: :put, class: 'btn btn-info btn-md btn-block' do
          %i.fa.fa-arrow-right
      - elsif task.state == 'to_do'
        = link_to change_task_path(task, state: 'doing'), method: :put, class: 'btn btn-info btn-md btn-block' do
          %i.fa.fa-arrow-right
      - else task.state == 'done'
        = link_to change_task_path(task, state: 'doing'), method: :put, class: 'btn btn-info btn-md btn-block' do
          %i.fa.fa-arrow-left
